<% image_name_root = "privacy_static__em0xjsc70k4m" %>


<div class="value-prop value-prop-<%= benefit.keyword.downcase %>">
					<div class="value-props-pin-wrapper overview_1_lottie_statics_navigation_static-wrapper">
						<picture id="overview-1-lottie-statics-navigation-static-1" class="overview-1-lottie-statics-navigation-static pin loaded" data-lazy="" data-picture-loaded="">
							
							<source srcset="https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_small.png, https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_small_2x.png 2x" media="(max-width:734px)"><source srcset="https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_medium.png, https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_medium_2x.png 2x" media="(max-width:1068px)"><source srcset="https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_large.png, https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_large_2x.png 2x" media="(min-width:0px)"><img src="https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_large.png" onload="__lp(event)" alt="">
						</picture>
						<noscript>
					<picture class="overview-1-lottie-statics-navigation-static pin">
						<source srcset="https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_small.png, https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_small_2x.png 2x" media="(max-width:734px)" /><source srcset="https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_medium.png, https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_medium_2x.png 2x" media="(max-width:1068px)" /><source srcset="https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_large.png, https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_large_2x.png 2x" media="(min-width:0px)" />
						<img src="https://www.apple.com/v/maps/d/images/overview/1_lottie_statics/<%= image_name_root %>_large.png" alt>
					</picture>
				</noscript>
						<div data-pin-name="<%= benefit.keyword.downcase %>" data-component-list="LottieBubble" data-map-basepath="/105/media/us/maps/2021/8f40e529-c8aa-4eb5-a9a8-62b96c65c919/anim/">
</div>
					</div>
					<h3 class="typography-value-props show-headline" style="opacity: 1;"><%= benefit.subtitle %></h3>
				</div>