

<nav class="bg-gray-800 py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <a href="/" class="text-white font-bold text-xl">Rate Your Charge</a>
      </div>
      <div class="flex items-center">
        <ul class="flex items-center">
          <li>
            <%= link_to "Dashboard", root_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          </li>
          <li>
            <%= link_to "Profile", edit_user_registration_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          </li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container mx-auto p-4">
  <div class="my-8">
    <h1><%= t(".title") %></h1>

    <p class="mb-2">This is the homepage for logged in users.</p>
    <p>You can customize this page in <code>app/views/dashboard/show.html.erb</code></p>
    <%= current_user.admin? ? render(partial: 'admin') : render(partial: 'guest') %>

  </div>
</div>
