<div id="<%= dom_id listing %>">
  <strong>  <%= listing.title %></strong> <br>
  Address line1:  <%= listing.address_line1 %>

  Address line2: <%= listing.address_line2 %> <br> 
  City: <%= listing.city %> <br>
  State:   <%= listing.state %> <br>
  
  Postal code:  <%= listing.postal_code %> <br>
  Country:   <%= listing.country %> <br>
  Lat:  <%= listing.lat %> <br>
  Lng:  <%= listing.lng %> br
</div>
<hr>&nbsp;
<%= link_to new_listing_path,  class: 'btn btn-primary', data:  {turbo_frame: "app-modal"} do %>
Add New Listing
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to listing,  class: 'btn btn-primary', data:  {turbo_frame: "app-modal"} do %>
Show
<% end %>

<hr>
