<div id="<%= dom_id listing %>">
  <p>
    <strong>Address line1:</strong>
    <%= listing.address_line1 %>
  </p>

  <p>
    <strong>Address line2:</strong>
    <%= listing.address_line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= listing.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= listing.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= listing.postal_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= listing.country %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= listing.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= listing.lng %>
  </p>

</div>
