<div id="<%= dom_id visit %>" class="border-b-4 border-gray-500">
  <p>
    <strong>Comment:</strong>
    <%= visit.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= visit.user_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= visit.location_id %>
  </p>

  <p>
    upvotes: <%= visit.votes_for.up.count%>
  </p>
  <p>
    downvotes: <%= visit.votes_for.down.count%>
  </p>
</div>
