<div id="<%= dom_id location_review %>">
  <p>
    <strong>Author name:</strong>
    <%= location_review.author_name %>
  </p>

  <p>
    <strong>Author url:</strong>
    <%= location_review.author_url %>
  </p>

  <p>
    <strong>Profile url:</strong>
    <%= location_review.profile_url %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= location_review.rating %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= location_review.text %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= location_review.time %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= location_review.type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= location_review.location_id %>
  </p>

</div>
