<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :street_number,, class: 'form-label' %>
      <%= form.text_field :street_number,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :street,, class: 'form-label' %>
      <%= form.text_field :street,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :postal_code,, class: 'form-label' %>
      <%= form.text_field :postal_code,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :city,, class: 'form-label' %>
      <%= form.text_field :city,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :country,, class: 'form-label' %>
      <%= form.text_field :country,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :formatted_address,, class: 'form-label' %>
      <%= form.text_field :formatted_address,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :formatted_phone_number,, class: 'form-label' %>
      <%= form.text_field :formatted_phone_number,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :international_phone_number,, class: 'form-label' %>
      <%= form.text_field :international_phone_number,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :lat,, class: 'form-label' %>
      <%= form.text_field :lat,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :lng,, class: 'form-label' %>
      <%= form.text_field :lng,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :name,, class: 'form-label' %>
      <%= form.text_field :name,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :permanently_closed,, class: 'form-label' %>
      <%= form.text_field :permanently_closed,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :photos,, class: 'form-label' %>
      <%= form.text_field :photos,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :place_id,, class: 'form-label' %>
      <%= form.text_field :place_id,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :rating,, class: 'form-label' %>
      <%= form.text_field :rating,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :types,, class: 'form-label' %>
      <%= form.text_field :types,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :region,, class: 'form-label' %>
      <%= form.text_field :region,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :reviews,, class: 'form-label' %>
      <%= form.text_field :reviews,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :google_url,, class: 'form-label' %>
      <%= form.text_field :google_url,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :vicinity,, class: 'form-label' %>
      <%= form.text_field :vicinity,, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :website, class: 'form-label' %>
      <%= form.text_field :website, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if location.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', location, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if location.persisted? %>
      <%= link_to "Cancel", location, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", locations_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
