<div id="location-summary" class="border-b border-gray-300 py-2 ml-6">
  <div class="grid grid-cols-2 gap-4 ">
    <%= link_to(location) do %>
      <div class="col-span-1">
        <div class="mb-2">
          <h2 class="text-lg font-medium text-gray-700"><%= location.name %></h2>
        </div>
        <%= render "reviews_summary_for_index", location: location %>

        <div class="mb-2 summary-formatted-address">
          <p class="text-sm text-gray-500"><%= location.formatted_address.split(", ").first(2).join(", ") %></p>
        </div>
      </div>
    <% end %> 
    <div class="col-span-1">
      <div class="flex items-center mt-2">
        <% if location.website.present? %>
          <%= link_to location.website do %>
            <div class="mb-2 flex flex-col items-center mr-4">
              <div style="text-align: center;">
                <i class="fa-solid fa-globe fa-2x text-blue-600"></i>
                <h4 style="margin-top: 0.25em;" class="text-xs text-blue-600">Website</h4>
              </div>
            </div>
          <% end %>
        <% end %>

        <a href='<%= "https://www.google.com/maps/dir//#{CGI.escape(location.formatted_address)}" %>' >
          <div class="mb-2 flex flex-col items-center mr-4">
            <div style="text-align: center;">
              <i class="fa-regular fa-compass fa-2x text-blue-600"></i>
              <h4 style="margin-top: 0.25em;" class="text-xs text-blue-600">Directions</h4>
            </div>
          </div>
        </a>

      </div>

    </div>
  </div>
              
  <!-- types available -->
  <div class="mt-6">
    <p class="text-sm text-gray-500">Charger Types:</p>
        
    <ul class="mt-4 text-sm text-gray-500 mr-12">
      <%= render "locations/charger_types/level_one_charger_count", location: location    if !location.level_one_charger_count.blank? %>
      <%= render "locations/charger_types/level_two_charger_count", location: location    if !location.level_two_charger_count.blank? %>
      <%= render "locations/charger_types/dc_fast_charger_count",   location: location    if !location.dc_fast_charger_count.blank? %>

    </ul>
  </div>

</div>
