<div id="<%= dom_id location %>">
  <p>
    <strong>Street number,:</strong>
    <%= location.street_number, %>
  </p>

  <p>
    <strong>Street,:</strong>
    <%= location.street, %>
  </p>

  <p>
    <strong>Postal code,:</strong>
    <%= location.postal_code, %>
  </p>

  <p>
    <strong>City,:</strong>
    <%= location.city, %>
  </p>

  <p>
    <strong>Country,:</strong>
    <%= location.country, %>
  </p>

  <p>
    <strong>Formatted address,:</strong>
    <%= location.formatted_address, %>
  </p>

  <p>
    <strong>Formatted phone number,:</strong>
    <%= location.formatted_phone_number, %>
  </p>

  <p>
    <strong>International phone number,:</strong>
    <%= location.international_phone_number, %>
  </p>

  <p>
    <strong>Lat,:</strong>
    <%= location.lat, %>
  </p>

  <p>
    <strong>Lng,:</strong>
    <%= location.lng, %>
  </p>

  <p>
    <strong>Name,:</strong>
    <%= location.name, %>
  </p>

  <p>
    <strong>Permanently closed,:</strong>
    <%= location.permanently_closed, %>
  </p>

  <p>
    <strong>Photos,:</strong>
    <%= location.photos, %>
  </p>

  <p>
    <strong>Place id,:</strong>
    <%= location.place_id, %>
  </p>

  <p>
    <strong>Rating,:</strong>
    <%= location.rating, %>
  </p>

  <p>
    <strong>Types,:</strong>
    <%= location.types, %>
  </p>

  <p>
    <strong>Region,:</strong>
    <%= location.region, %>
  </p>

  <p>
    <strong>Reviews,:</strong>
    <%= location.reviews, %>
  </p>

  <p>
    <strong>Google url,:</strong>
    <%= location.google_url, %>
  </p>

  <p>
    <strong>Vicinity,:</strong>
    <%= location.vicinity, %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= location.website %>
  </p>

</div>
