<div id="location-summary" class="border-b border-gray-300 py-2">
  <div class="grid grid-cols-2 gap-6 ">
    <%= link_to(location) do %>
      <div class="col-span-1">
        <div class="mb-2">
          <h2 class="text-lg font-medium text-gray-700"><%#= location. %><%= location.name %></h2>
        </div>
        <div class="mb-2 summary-star-rating">
          <p class="text-sm text-gray-500">
            5.0 <i class="fas fa-star text-yellow-500 mr-1"></i>
            <i class="fas fa-star text-yellow-500 mr-1"></i>
            <i class="fas fa-star text-yellow-500 mr-1"></i>
            <i class="fas fa-star text-yellow-500 mr-1"></i>
            <i class="fas fa-star text-yellow-500 mr-1"></i>
            (2)
          </p>
        </div>
        <div class="mb-2 summary-formatted-address">
          <p class="text-sm text-gray-500"><%= location.formatted_address.split(", ").first(2).join(", ") %></p>
        </div>
      </div>
    <% end %> 
    <div class="col-span-1">
      <div class="flex items-center">
        <% if location.website.present? %>
          <%= link_to location.website do %>
            <div class="mb-2 flex flex-col items-center mr-4">
              <div style="text-align: center;">
                <i class="fa-solid fa-globe fa-2x text-indigo-500"></i>
                <h4 style="margin-top: 0.25em;" class="text-indigo-500">Website</h4>
              </div>
            </div>
          <% end %>
        <% end %>

        <a href='<%= "https://www.google.com/maps/dir//#{CGI.escape(location.formatted_address)}" %>' >
          <div class="mb-2 flex flex-col items-center mr-4">
            <div style="text-align: center;">
              <i class="fa-regular fa-compass fa-2x text-indigo-500"></i>
              <h4 style="margin-top: 0.25em;" class="text-indigo-500">Directions</h4>
            </div>
          </div>
        </a>

      </div>

    </div>
  </div>
              
  <!-- types available -->
  <div class="mt-6">
    <p class="text-sm text-gray-500">Charger Types:</p>
        
    <ul class="mt-4 text-sm text-gray-500 mr-2">
      <li class="flex items-center justify-between mb-2">
        <div class="flex items-center">
          <i class="fa fa-bolt mr-2 text-gray-400"></i>
          <div class="flex">
            <div>J1772</div>
            <div class="ml-2">6.48 kW</div>
          </div>
        </div>
        <div>Total 28</div>
      </li>
      <li class="flex items-center justify-between mb-2">
        <div class="flex items-center">
          <i class="fa fa-bolt mr-2 text-gray-400"></i>
          <div class="flex">
            <div>CHAdeMO</div>
            <div class="ml-2">50 kW</div>
          </div>
        </div>
        <div>Total 12</div>
      </li>
      <li class="flex items-center justify-between mb-2">
        <div class="flex items-center">
          <i class="fa fa-bolt mr-2 text-gray-400"></i>
          <div class="flex">
            <div>Tesla Supercharger</div>
            <div class="ml-2">120 kW</div>
          </div>
        </div>
        <div>Total 8</div>
      </li>
    </ul>
  </div>

</div>
