<div class="page-header">
  <%= link_to locations_path, class: 'btn btn-default' do %>
    All Locations
  <% end %>
  <%= link_to edit_location_path(@location), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show location</h1>
</div>

<dl class="dl-horizontal">
  <dt>Street number:</dt>
  <dd><%= @location.street_number %></dd>
  <dt>Street:</dt>
  <dd><%= @location.street %></dd>
  <dt>Postal code:</dt>
  <dd><%= @location.postal_code %></dd>
  <dt>City:</dt>
  <dd><%= @location.city %></dd>
  <dt>Country:</dt>
  <dd><%= @location.country %></dd>
  <dt>Formatted address:</dt>
  <dd><%= @location.formatted_address %></dd>
  <dt>Formatted phone number:</dt>
  <dd><%= @location.formatted_phone_number %></dd>
  <dt>International phone number:</dt>
  <dd><%= @location.international_phone_number %></dd>
  <dt>Lat:</dt>
  <dd><%= @location.lat %></dd>
  <dt>Lng:</dt>
  <dd><%= @location.lng %></dd>
  <dt>Name:</dt>
  <dd><%= @location.name %></dd>
  <dt>Permanently closed:</dt>
  <dd><%= @location.permanently_closed %></dd>
  <dt>Photos:</dt>
  <dd><%= @location.photos %></dd>
  <dt>Place id:</dt>
  <dd><%= @location.place_id %></dd>
  <dt>Rating:</dt>
  <dd><%= @location.rating %></dd>
  <dt>Types:</dt>
  <dd><%= @location.types %></dd>
  <dt>Region:</dt>
  <dd><%= @location.region %></dd>
  <dt>Google url:</dt>
  <dd><%= @location.google_url %></dd>
  <dt>Vicinity:</dt>
  <dd><%= @location.vicinity %></dd>
  <dt>Website:</dt>
  <dd><%= @location.website %></dd>
</dl>
