<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html class="h-full antialiased" lang="<%= I18n.locale %>">
   <head>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# Replace this with your FontAwesome Pro Kit code %>
    <script defer src="https://kit.fontawesome.com/0e5ab6a736.js" crossorigin="anonymous"></script>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <style>
      .super-container {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }

      #content-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-areas: "header" "content";
        z-index: 2;
        background: rgba(255, 255, 255, 0.8);
        overflow-y: auto;
      }

      header {
        grid-area: header;
      }

      #content {
        grid-area: content;
        padding: 20px;
      }

      #image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: url(<%= image_path("nrel_charging_stations-north_america.jpg") %>);
        background-size: cover;
        background-position: center;
      }

      @media screen and (max-width: 768px) {
        #content-container {
          position: relative;
          width: 100%;
          height: auto;
          grid-template-areas: "header" "content";
          overflow-y: visible;
        }
      }
    </style>
  </head>


  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-50">
     <%= turbo_frame_tag "search-results-frame", src: "" %>
     <%= turbo_frame_tag "user-modal" %>


    <%= yield %>

  </body>
</html>
